
<mat-toolbar>
  <mat-toolbar-row>
    <div class="fill-space"></div>
    <div class="buttons-container">
      <ng-container *ngIf="(state | async) === 'view' else isEdit">
        <button mat-button (click)="formHelper.changeState('edit')">Edit</button>
      </ng-container>
      <ng-template #isEdit>
        <button mat-button (click)="formHelper.cancelData(parentCmp)">Cancel</button>
        <button mat-button (click)="formHelper.saveData(parentCmp)" [disabled]="(stateService.isDataChange | async)">Save</button>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
