.page-container {
  height: 80vh;
}
.hidden {
  display: none;
}
h2 {
  text-transform: capitalize;
  text-align: center;
}
form {
  margin:0 auto;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
