<app-form-header (emitChangeState)="stateChage($event)"></app-form-header>
<mat-drawer-container class="page-container">
  <mat-drawer mode="side" opened>
    <app-sidebar [tab]="tabName"></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main">
      <div class="form-container" *ngIf="stateService.formData">
        <form [formGroup]="form">
          <h2>{{tabName}} settings</h2>
          <app-general [parent]="form" *ngIf="tabName === 'general'" [partData]="stateService.formData.general"></app-general>
          <app-newsfeed [parent]="form" *ngIf="tabName === 'newsfeed'" [partData]="stateService.formData.newsfeed"></app-newsfeed>
          <app-analytics [parent]="form" *ngIf="tabName === 'analytics'" [partData]="stateService.formData.analytics"></app-analytics>
          <app-social [parent]="form" *ngIf="tabName === 'social'" [partData]="stateService.formData.social"></app-social>
        </form>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<a mat-raised-button [routerLink]="['/test']">go to other route</a>
