.full-width {
  width: 100%;
}

.hidden {
  display: none;
}

.mat-form-field-wrapper {
  mat-form-field {
    width: 80%;
  }

  .field-row {
    display: flex;
    justify-content: space-between;
  }
}
