<div [formGroup]="parentCmp.form">
  <div [formGroupName]="parentCmp.tabName" class="mat-form-field-wrapper">
    <div class="field-row">
      <mat-form-field class="full-width">
        <mat-label>Newsletter digest period</mat-label>
        <mat-select formControlName="newsletterDigestPeriod">
          <mat-option *ngFor="let variant of partData.newsletterDigestPeriod.values;"
                      [value]="variant.value">
            {{variant.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'newsletterDigestPeriod', 'description')"
                [matTooltip]="getData(parentCmp, 'newsletterDigestPeriod', 'description')"
                matTooltipPosition="after">info
      </mat-icon>
    </div>

    <div class="field-row">
      <mat-form-field class="full-width">
        <mat-label>Newsletter digest period</mat-label>
        <mat-select formControlName="facebookEnabled">
          <mat-option *ngFor="let variant of partData.facebookEnabled.values;"
                      [value]="variant.value">
            {{variant.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'facebookEnabled', 'description')"
                [matTooltip]="getData(parentCmp, 'facebookEnabled', 'description')"
                matTooltipPosition="after">info
      </mat-icon>
    </div>

    <div class="field-row">
      <mat-form-field class="full-width">
        <input matInput
               formControlName="organizerTwitterLink"
               [placeholder]="getData(parentCmp, 'organizerTwitterLink', 'description')"
               [value]="getData(parentCmp, 'organizerTwitterLink', 'value')">
      </mat-form-field>
      <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'organizerTwitterLink', 'description')"
                [matTooltip]="getData(parentCmp, 'organizerTwitterLink', 'description')"
                matTooltipPosition="after">info
      </mat-icon>
    </div>
  </div>
</div>
