<div [formGroup]="parentCmp.form">
  <div [formGroupName]="parentCmp.tabName" class="mat-form-field-wrapper">
    <div class="mat-form-field-wrapper">
      <div class="field-row">
        <input matInput
               class="hidden"
               formControlName="excludedAgents">
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Agents to exclude"
                 [disabled]="parentCmp.form.disabled"
                 [value]="" #agentRef>
        </mat-form-field>
        <button [class.hidden]="(isEditMode() | async)" mat-button [disabled]="!agentRef.value"
                color="primary" class="mat-icon-rtl-mirror" (click)="addElement('excludedAgents', agents, agentRef)">
          <mat-icon>add</mat-icon>
        </button>
        <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'excludedAgents', 'description')"
                  [matTooltip]="getData(parentCmp, 'excludedAgents', 'description')" matTooltipPosition="after">info
        </mat-icon>
      </div>
      <ul class="list-data">
        <li *ngFor="let agent of agents; let i = index">
          <p>
            <span>{{agent}}</span>
            <button mat-button [class.hidden]="(isEditMode() | async)"
                    (click)="deleteElement(agents, i, 'excludedAgents')">x
            </button>
          </p>
        </li>
      </ul>
    </div>

    <div class="mat-form-field-wrapper">
      <div class="field-row">
        <input matInput
               class="hidden"
               formControlName="whiteListDomains">
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="white list domains"
                 [disabled]="parentCmp.form.disabled"
                 [value]="" #domainRef>
        </mat-form-field>
        <button [class.hidden]="(isEditMode() | async)" mat-button [disabled]="!domainRef.value"
                color="primary" class="mat-icon-rtl-mirror"
                (click)="addElement('whiteListDomains', domains, domainRef)">
          <mat-icon>add</mat-icon>
        </button>
        <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'whiteListDomains', 'description')"
                  [matTooltip]="getData(parentCmp, 'whiteListDomains', 'description')" matTooltipPosition="after">info
        </mat-icon>
      </div>
      <ul class="list-data">
        <li *ngFor="let domain of domains; let i = index">
          <p>
            <span>{{domain}}</span>
            <button mat-button [class.hidden]="(isEditMode() | async)"
                    (click)="deleteElement(domains, i, 'whiteListDomains')">x
            </button>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
