.full-width {
  width: 100%;
  .colorpick-eyedropper-input-trigger {
    display: none;
  }
}
.hidden {
  display: none;
}
.color-wrap {
  display: flex;
  align-items: center;
  .full-width {
    width: 100px;
  }
  input {
    text-transform: uppercase;
  }
}
.field-row {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-right: 40px;
  .info-btn {
    position: absolute;
    top: 30%;
    right: 0;
  }
}
.color-box {
  width: 40px;
  height: 20px;
}
::-webkit-color-swatch {
  border: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: none;
}

::-moz-focus-inner {
  padding: 0;
}
