<div [formGroup]="parentCmp.form">
  <div [formGroupName]="parentCmp.tabName" class="mat-form-field-wrapper">
    <div class="field-row">
      <mat-form-field class="full-width">
        <input matInput
               formControlName="siteDisplayName"
               placeholder="Site display name:">
      </mat-form-field>
      <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'siteDisplayName', 'description')"
                [matTooltip]="getData(parentCmp, 'siteDisplayName', 'description')" matTooltipPosition="after">info
      </mat-icon>
    </div>

    <div class="field-row">
      <mat-form-field>
        <mat-label>Default landing page:</mat-label>
        <mat-select formControlName="defaultLandingPage">
          <mat-option *ngFor="let variant of partData.defaultLandingPage.values;"
                      [value]="variant.value">
            {{variant.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'defaultLandingPage', 'description')"
                [matTooltip]="getData(parentCmp, 'defaultLandingPage', 'description')" matTooltipPosition="after">info
      </mat-icon>
    </div>

    <div class="field-row">
      <mat-form-field class="full-width">
        <input matInput type="email"
               formControlName="advertiseContactEmail"
               placeholder="Contact email for advertising:">
      </mat-form-field>
      <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'advertiseContactEmail', 'description')"
                [matTooltip]="getData(parentCmp, 'advertiseContactEmail', 'description')" matTooltipPosition="after">info
      </mat-icon>
    </div>

    <div class="field-row">
      <div class="color-wrap">
        <mat-form-field class="full-width">
          <input matInput
                 formControlName="primarySiteColor"
                 placeholder="Primary site color:"
                 (change)="changeColor($event, 'primarySiteColor')">
        </mat-form-field>

        <div class="color-box" [class.hidden]="(isEditMode() | async) === false"
             [style.background-color]="'#' + (parentCmp.primarySiteColor$ | async)"></div>
        <input class="color-box" [class.hidden]="isEditMode() | async"
               type="color" matInput [value]="'#' + (parentCmp.primarySiteColor$ | async)"
               (change)="changeColor($event, 'primarySiteColor')">
        <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'primarySiteColor', 'description')"
                  [matTooltip]="getData(parentCmp, 'primarySiteColor', 'description')" matTooltipPosition="after">info
        </mat-icon>
      </div>
    </div>

    <div class="field-row">
      <div class="color-wrap">
        <mat-form-field class="full-width">
          <input matInput
                 formControlName="secondarySiteColor"
                 placeholder="Secondary site color:"
                 (change)="changeColor($event, 'secondarySiteColor')">
        </mat-form-field>

        <div class="color-box" [class.hidden]="(isEditMode() | async) === false"
             [style.background-color]="'#' + (parentCmp.secondarySiteColor$ | async)"></div>
        <input class="color-box" [class.hidden]="isEditMode() | async"
               type="color" matInput [value]="'#' + (parentCmp.secondarySiteColor$ | async)"
               (change)="changeColor($event, 'secondarySiteColor')">
        <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'secondarySiteColor', 'description')"
                  [matTooltip]="getData(parentCmp, 'secondarySiteColor', 'description')" matTooltipPosition="after">info
        </mat-icon>
      </div>
    </div>
  </div>
</div>
