<ul>
  <li *ngFor="let link of tabs" >
    <a mat-flat-button [routerLink]="['/form']" [queryParams]="{ tab: link}"
       routerLinkActive="mat-primary" [class.error]="(stateService.errorTabs$ | async).includes(link)">
      {{link}}
    </a>
  </li>
</ul>
