<div [formGroup]="parentCmp.form">
  <div [formGroupName]="parentCmp.tabName" class="mat-form-field-wrapper">
    <div class="mat-form-field-wrapper">
      <div class="field-row">
        <input matInput
               class="hidden"
               formControlName="iframeProblematicSources">
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="iFrame Problematics Sources"
                 [disabled]="parentCmp.form.disabled"
                 [value]="" #iFrameRef>
        </mat-form-field>
        <button [class.hidden]="isEditMode() | async" mat-button [disabled]="!iFrameRef.value"
                color="primary" class="mat-icon-rtl-mirror"
                (click)="addElement('iframeProblematicSources', iframes, iFrameRef)">
          <mat-icon>add</mat-icon>
        </button>
        <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'iframeProblematicSources', 'description')"
                  [matTooltip]="getData(parentCmp, 'iframeProblematicSources', 'description')" matTooltipPosition="after">info
        </mat-icon>
      </div>
      <ul class="list-data">
        <li *ngFor="let iframe of iframes; let i = index">
          <p>
            <span>{{iframe}}</span>
            <button mat-button [class.hidden]="isEditMode() | async"
                    (click)="deleteElement(iframes, i, 'iframeProblematicSources')">x
            </button>
          </p>
        </li>
      </ul>
    </div>

    <div class="field-row">
      <mat-form-field>
        <mat-label>Approve article automatically</mat-label>
        <mat-select formControlName="isArticleAutomaticApprovalEnabled">
          <mat-option *ngFor="let variant of partData.isArticleAutomaticApprovalEnabled.values;"
                      [value]="variant.value">
            {{variant.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'isArticleAutomaticApprovalEnabled', 'description')"
                [matTooltip]="getData(parentCmp, 'isArticleAutomaticApprovalEnabled', 'description')" matTooltipPosition="after">info
      </mat-icon>
    </div>

    <div class="field-row">
      <mat-form-field class="full-width">
        <mat-label>Minimum articles in my newsfeed</mat-label>
        <input matInput type="number"
               formControlName="minimumArticlesInMyNewsFeed"
               [placeholder]="getData(parentCmp, 'minimumArticlesInMyNewsFeed', 'description')">
      </mat-form-field>
      <mat-icon class="info-btn" *ngIf="getData(parentCmp, 'minimumArticlesInMyNewsFeed', 'description')"
                [matTooltip]="getData(parentCmp, 'minimumArticlesInMyNewsFeed', 'description')" matTooltipPosition="after">info
      </mat-icon>
    </div>

  </div>
</div>
