.full-width {
  width: 100%;
}

.hidden {
  display: none;
}

.mat-form-field-wrapper {
  mat-form-field {
    width: 80%;
  }

  .field-row {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 40px;
    .info-btn {
      position: absolute;
      top: 30%;
      right: 0;
    }
  }
  ul {
    margin-right: 5px;
  }
  ul li p {
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
  }
}
