<h1 mat-dialog-title>
  {{data.title}}
</h1>
<div mat-dialog-content>
  <p *ngFor="let text of data.text">{{text}}</p>
  <div class="error-wrap">
    <p *ngFor="let tab of data.errorTabs">
      {{tab}} tab
    </p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</div>
